/* USED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

/*=================
  TABLE OF CONTENTS
  =================
  1) GLOBAL STYLES
  2) LAYOUT
  3) TYPOGRAPHY
  4) COMPONENTS
  5) UTILITIES 
  ================= */

/*================= 
    GLOBAL STYLES 
  ================= */

:root {
  /* VARIABLES */
  --clr-primary: #FFE4E1;
  --clr-accent: #CC2936;
  --clr-dark: #394648;
  --clr-light: #9BBEC7;
  --pm-1: 1em;
  --pm-2: 2em;
  --pm-3: 3em;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

/*================= 
        LAYOUT
  ================= */


/*================= 
      TYPOGRAPHY
  ================= */

/*================= 
      COMPONENTS
  ================= */



/*================= 
      UTILITIES
  ================= */
