/* USED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap');

/*=================
  TABLE OF CONTENTS
  =================
  1) GLOBAL STYLES
  2) LAYOUT
  3) TYPOGRAPHY
  4) COMPONENTS
  5) UTILITIES 
  6) MEDIA QUERIES
  ================= */

/*================= 
    GLOBAL STYLES 
  ================= */

:root {
  /* VARIABLES */
  --clr-primary: #FFE4E1;
  --clr-accent: #CC2936;
  --clr-dark: #394648;
  --clr-light: #9BBEC7;
  --pm-1: 1em;
  --pm-2: 2em;
  --pm-3: 3em;
  --br-1: 0.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
  color: var(--clr-dark);
}

/*================= 
        LAYOUT
  ================= */

.container {
  padding: var(--pm-3);
  width: 100%;
}

.login__header {
  height: 100vh;
  background-color: var(--clr-primary);
  text-align: center;
}

.login__main {
  height: 100vh;
}

.login__container {
  max-width: 25.75em;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/*================= 
      TYPOGRAPHY
  ================= */

h1,
h2,
h3 {
  margin-bottom: 0.5em;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 2.875rem;
  text-shadow: 0 3px 6px hsla(0, 0%, 0%, 0.16);
}

label {
  margin-bottom: 0.5em;
  font-weight: 700;
}

.description {
  max-width: 50ch;
  margin: auto;
}

.link--bantay {
  color: var(--clr-accent);
  font-weight: 700;
}

/*================= 
      COMPONENTS
  ================= */

input,
button {
  margin-bottom: 0.5em;
  padding: var(--pm-1);
  
  background-color: var(--clr-primary);
  border: 0;
  border-radius: var(--br-1);
}

button {
  background-color: var(--clr-accent);
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  cursor: pointer;
}

#login {
  margin-top: var(--pm-1);
  width: 50%;
  transform: translateX(50%);
}

/*================= 
      UTILITIES
  ================= */

  .grid--center {
    display: grid;
    place-items: center;
  }

/*================= 
    MEDIA QUERIES
  ================= */

  @media (min-width: 1080px) {
    body {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }